.rTable {
    display: table;
    width: 100%;
} 
.rTableRow {
    display: table-row;
} 
.rTableHead{
    display: table-cell;
    padding: 3px 10px;
    border: 1px solid #999999;
    background-color: #ddd;
    font-weight: bold;    
}
.rTableCell {
    display: table-cell;
    padding: 3px 10px;
    border: 1px solid #999999;
} 
.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
    font-weight: bold;
} 
.rTableFoot {
    display: table-footer-group;
    font-weight: bold;
    background-color: #ddd;
} 
.rTableBody {
    display: table-row-group;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    width: 28px;
    height: 28px;  
    position: relative;
    text-decoration: none;
    color: initial;
}

a.button img {
    position:absolute;
    top: 50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.warning {
    color: red;
}

.showCompletedCheckbox input {
    position: relative;
    z-index: -9999;
}

.showCompletedCheckbox span {
    width: 16px;
    height: 16px;
    display: block;
    background: url('../resources/icons/tasks_tsk.gif') no-repeat;
}

.showCompletedCheckbox input:checked + span {
    background: url('../resources/icons/tasks_tsk.gif') no-repeat;
}

.sortByCheckbox input {
    position: relative;
    z-index: -9999;
}

.sortByCheckbox span {
    width: 16px;
    height: 16px;
    display: block;
    background: url('../resources/icons/next_nav.gif') no-repeat;
}

.sortByCheckbox input:checked + span {
    background: url('../resources/icons/next_nav.gif') no-repeat;
}

.overlay {
    z-index: 10;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;

}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}
